*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: aqua;
    border-bottom: 2px solid gray;
    padding: 10px;
}
.product-item{
    border: 1px solid #000;
}

.product-item img{
    /* width: 200px;
    height: 200px; */
}

.product-item h3{

}

.product-item p{

}

.product-item button{

}

.mini-cart{
    float: right;
}